{{#extend "layout"}}
    {{#content 'main'}}
        <div class="intro">
            <h1 class="page-title"> Keep The Holidays Happy </h1>
            <p class="intro-description">
                Stressed out about the political clash that will inevitably disrupt your thanksgiving dinner? <br />
                Let's prevent that from happening. Before Thursday, send a proposal to your family/friends and make it clear
                to them that you want to avoid any political discussion at the dinner table.
            </p>
            <a class="btn btn-default btn-lg create-proposal"> Choose proposal </a>
            <div class="social-buttons">
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?url=http://www.keepholidayshappy.com
           &text=A+way+to+avoid+talking+about+politics+this+holiday+season
           &hashtags=KeepHolidaysHappy,SurvivalGuideToThanksgiving"
                   target="_blank">
                    <i class="icon-twitter icon"></i>
                </a>

                <a class="facebook-share"
                   href="https://www.facebook.com/dialog/share?app_id=145634995501895
           &display=popup&href=http%3A%2F%2Fkeepholidayshappy.com"
                   target="_blank">
                    <i class="icon-facebook icon"></i>
                </a>
            </div>
        </div>

        <div class="thanksgiving-table">

            <div class="table">
                <img src="images/marshmellow.svg" class="food marshmellows hidden-xs">
                <img src="images/cranberry.svg" class="food cranberry hidden-xs">
                <img src="images/potatoes.svg" class="food potatoes hidden-xs">
                <img src="images/turkey.svg" class="food turkey">
                <img src="images/wine.svg" class="food wine">
                <img src="images/gravy.svg" class="food gravy hidden-xs">
                <img src="images/pie.svg" class="food pie">

                <div class="stripe lg"></div>
                <div class="stripe md"></div>
                <div class="stripe sm"></div>
            </div>

        </div>

        <div class="template-creator">

            <div class="how-to">
                <h3> Choose your proposal </h3>
                <p> Select a proposal below that you think will get through to your friends and family.
                    After selecting a proposal template, you can edit and send the proposal to your friends and family
                    using Google Forms.</p>
            </div>
            <div class="btn-group template-options hidden-xs" role="group" aria-label="...">
                <button type="button" class="btn btn-default template-option active" id="template-1">No Trump at My Table</button>
                <button type="button" class="btn btn-default template-option" id="template-2">No Need for World War 3</button>
                <button type="button" class="btn btn-default template-option" id="template-3">Keep Your Feelings on Lock</button>
                <button type="button" class="btn btn-default template-option" id="template-4">Talk About Yourself Instead</button>

            </div>

            <select class="btn btn-default form-control visible-xs template-options-select">
                <option value="template-1">No Trump at My Table</option>
                <option value="template-2">No Need for World War 3</option>
                <option value="template-3">Keep Your Feelings on Lock</option>
                <option value="template-4">Talk About Yourself Instead</option>
            </select>

            <div class="proposal-container">
                <div class="proposal">
                    <p class="proposal-text">
                        Our cranberry sauce is red <br />
                        And our fat turkey is brown <br />
                        No politics at dinner, <br />
                        I want all smiles, no frowns<br /><br />

                        The pilgrims and the indians <br />
                        Had a nice holiday meal <br />
                        Don’t talk trump at my table <br />
                        Or shit is going to get real
                    </p>
                </div>
            </div>

            <a class="btn btn-default btn-lg send-proposal" target="_blank"
               href="https://docs.google.com/forms/d/1bFd7-joDVFn5tuTBQRCb2o7Xa4P1SN6zsG35VJweWZs/copy">
                Select proposal
            </a>
        </div>
    {{/content}}
{{/extend}}
