<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keep Holidays Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Thanksgiving, politics, keep holidays happy, keep the holidays happy, trump, clinton,
    sanders, bern, politics, political, how to survive thanksgiving, survivalguidetothanksgiving,
    survival guide to thanksgiving">
    <meta name="description" content="Prevent a red vs blue throwdown by sending a proposal to your family to avoid
    all political discussions at the Thanksgiving dinner table.">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Lora|Roboto" rel="stylesheet">

    <!-- Javascript -->
    <script>
        var require = {
            baseUrl : '/js',
            paths: {
                jquery: 'lib/jquery.min'
            }
        };
    </script>
    <script data-main="{{jsModule}}" src="/js/lib/require.min.js"></script>

    <!-- Facebook -->
    <meta property="og:image" content="http://keepholidayshappy.com/imgs/thumbnail.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@alexakaminsky" />
    <meta name="twitter:title" content="Keep The Holidays Happy" />
    <meta name="twitter:description" content="Prevent a red vs blue throwdown by sending a proposal to your family to
    avoid all political discussions at the Thanksgiving dinner table." />
    <meta name="twitter:image" content="http://keepholidayshappy.com/imgs/thumbnail.png" />
</head>
<body>
{{#block "main"}}{{/block}}

<div class="social">

    <div class="social-buttons">
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?url=http://www.keepholidayshappy.com
           &text=A+way+to+avoid+talking+about+politics+this+holiday+season
           &hashtags=KeepHolidaysHappy,SurvivalGuideToThanksgiving" target="_blank">
            <i class="icon-twitter icon"></i>
        </a>

        <a class="facebook-share" href="https://www.facebook.com/dialog/share?app_id=145634995501895
        &display=popup&href=http%3A%2F%2Fkeepholidayshappy.com" target="_blank">
            <i class="icon-facebook icon"></i>
        </a>
    </div>

    <p class="created-by">
        Created by <a href="http://alexakaminsky.com" target="_blank">Alexa Kaminsky</a>.
        Proposal poems and letters written by Amey Adkins, Emily Bluth, and
        <a href="https://www.instagram.com/charleylanter/" target="_blank">Charley Lantern</a>.
    </p>
</div>
</body>
</html>